.exp {

  /* TODO: delete at some point */
  height: auto; 
}

.exp > div > div > li {
  margin-left: 3px;
}
.exp-title {
  font-weight: bold;
  display: inline;
}
.exp-date {
  float: right;
  display: inline;
  margin-right: 200px;
}
.exp-margin {
  margin-top: 30px;
}
.exp-line {
  width: 85%;
  margin-left: 0;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .exp-date {
    margin-right: 70px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .exp-date {
    margin-right: 50px;
  }
}